database:
  hostname: flightctl-db
  type: pgsql
  port: 5432
  name: flightctl
  user: admin
service:
  address: flightctl-api:3443
  agentEndpointAddress: flightctl-api:7443
  baseUrl: "https://{{ api }}:3443"
  baseAgentEndpointUrl: "https://{{ api }}:7443"
  baseUIUrl: "https://{{ ui }}:443"
  altNames:
    - "{{ api }}"
    - flightctl-api
  srvCertFile: /root/.flightctl/certs/server.crt
  srvKeyFile: /root/.flightctl/certs/server.key
kv:
  hostname: flightctl-kv
  port: 6379
auth:
  insecureSkipTlsVerify: false
  caCert: {}