database:
  hostname: flightctl-db
  type: pgsql
  port: 5432
  name: flightctl
  user: admin
service:
  address: flightctl-api:3443
  agentEndpointAddress: flightctl-api:7443
  baseUrl: https://10.0.3.206:3443/
  baseAgentEndpointUrl: https://10.0.3.206:7443/
  baseUIUrl: https://10.0.3.206:443
  altNames:
    - 10.0.3.206
    - flightctl-api
  srvCertFile: /root/.flightctl/certs/server.crt
  srvKeyFile: /root/.flightctl/certs/server.key
kv:
  hostname: flightctl-kv
  port: 6379
auth:
  insecureSkipTlsVerify: false
  caCert:
