#cloud-config
users:
- name: "{{ admin_user }}"
  ssh_authorized_keys: 
  - "{{ ssh_key }}"
  groups: ["wheel"]
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']

runcmd:
  - echo "Welcome to RHEM on RHEL Image Mode!" > /etc/motd
  - mkdir -p /etc/flightctl/certs.d
  - mkdir -p /etc/flightctl/conf.d

write_files:
- path: /etc/flightctl/certs.d/fullchain.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
    {{ lookup('file', '/etc/letsencrypt/live/{{ domain_name }}/fullchain.pem') }}

#- path: /etc/flightctl/conf.d/config.yaml
#  permissions: '0755'
#  owner: 'root:root'
#  content: |


