#cloud-config
users:
- name: "{{ admin_user }}"
  ssh_authorized_keys: 
  - "{{ ssh_key }}"
  groups: ["wheel"]
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']

runcmd:
  - echo "Welcome to RHEM on RHEL Image Mode!" > /etc/motd
  - mkdir -p /etc/flightctl/certs.d
  - mkdir -p /etc/flightctl/conf.d