#cloud-config
users:
- name: "{{ admin_user }}"
  ssh_authorized_keys: 
  - "{{ ssh_key }}"
  groups: ["wheel"]
  shell: /bin/bash
  sudo: ['ALL=(ALL) NOPASSWD:ALL']

runcmd:
- echo "Welcome to RHEM on RHEL Image Mode!" > /etc/motd
- mkdir -p /etc/flightctl/certs.d
- mkdir -p /etc/flightctl/conf.d
- sed -i 's/^SELINUX=.*/SELINUX=disabled/' /etc/selinux/config
- systemctl enable flightctl.target

write_files:
- path: /etc/flightctl/certs.d/ui-fullchain.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ ui }}/fullchain.pem') | indent(4, true) }}
- path: /etc/flightctl/certs.d/ui-privkey.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ ui }}/privkey.pem') | indent(4, true) }}
- path: /etc/flightctl/certs.d/api-fullchain.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ api }}/fullchain.pem') | indent(4, true) }}
- path: /etc/flightctl/certs.d/api-privkey.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ api }}/privkey.pem') | indent(4, true) }}
- path: /etc/flightctl/certs.d/sso-fullchain.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ sso }}/fullchain.pem') | indent(4, true) }}
- path: /etc/flightctl/certs.d/sso-privkey.pem
  permissions: '0755'
  owner: 'root:root'
  content: |
{{ lookup('file', '/etc/letsencrypt/live/{{ sso }}/privkey.pem') | indent(4, true) }}